tests/data/xmlschema/datetime_classes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="dateTimeStamp" type="xs:dateTimeStamp" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
