tests/data/xmlschema/multiple_substitution_groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="https://example.com/multiple-substitution-groups"
  targetNamespace="https://example.com/multiple-substitution-groups"
  elementFormDefault="qualified"
>
  <xs:element name="thing" type="tns:BaseThing" abstract="true"/>
  <xs:element name="namedThing" type="tns:BaseThing" abstract="true"/>

  <xs:complexType name="BaseThing">
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:element name="concreteThing" substitutionGroup="tns:thing tns:namedThing">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:BaseThing">
          <xs:sequence>
            <xs:element name="label" type="xs:string"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:thing"/>
        <xs:element ref="tns:namedThing" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
