tests/data/xmlschema/schema_composition_redefine_base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="https://example.com/schema-composition"
  targetNamespace="https://example.com/schema-composition"
>
  <xs:simpleType name="RedefinedCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="RedefinedGroup">
    <xs:sequence>
      <xs:element name="oldGroupElement" type="xs:string"/>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="RedefinedAttrs">
    <xs:attribute name="oldAttr" type="xs:string"/>
  </xs:attributeGroup>
</xs:schema>
