tests/data/xmlschema/special_float_defaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  elementFormDefault="qualified"
  vc:minVersion="1.1">
  <xs:element name="Model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="finite" type="xs:double" minOccurs="0" default="1.5"/>
        <xs:element name="positive" type="xs:double" minOccurs="0" default="INF"/>
        <xs:element name="positiveXsd11" type="xs:double" minOccurs="0" default="+INF"/>
        <xs:element name="negative" type="xs:float" minOccurs="0" default="-INF"/>
        <xs:element name="notNumber" type="xs:double" minOccurs="0" default="NaN"/>
        <xs:element name="bounded" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:double">
              <xs:minInclusive value="-INF"/>
              <xs:maxExclusive value="INF"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="limit" type="xs:double" default="INF"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
